# database
db_host = localhost
db_name = proxyhunter
db_user = root
db_pass = 241

# check process
check_workers = 30
recheck_workers = 5
select_limit = 10
fails_to_delete = 3
min_recheck_interval = 300

# speed check
min_speed_recheck_interval = 1800
speed_check_workers = 5
speed_check_url = http://mirror.yandex.ru/debian/ls-lR.gz

# logs when demonized
log[search] = logs/search.log
log[check] = logs/check.log

# pids when demonized
pid[search] = pids/search.pid
pid[check] = pids/check.pid

# queries list
search_query[0] = proxy list
search_query[1] = socks proxy list
search_query[2] = socks5 proxy
search_query[3] = socks4 proxy
search_query[4] = free proxy list
